<!-- https://material.angular.io/components/table/overview -->
<!-- todo search bar -->
<!-- todo horizontal scrollbar -->
<!-- todo select and batch delete -->
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 10%"> id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef style="width: 15%"> code</th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- pin Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef style="width: 10%"> duration</th>
    <td mat-cell *matCellDef="let element"> {{element.watering_duration}} </td>
  </ng-container>

  <!-- pin Column -->
  <ng-container matColumnDef="times">
    <th mat-header-cell *matHeaderCellDef style="width: 45%"> times</th>
    <td mat-cell *matCellDef="let element"> [ <span *ngFor="let wt of element.watering_times">{{wt}},</span> ]</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 20%">
      <button mat-stroked-button routerLink="/watering-configuration">create new</button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button [routerLink]="'/watering-configuration/'+element.id" style="margin-right: 5px;">edit</button>
      <button mat-stroked-button (click)="delete(element.id)">delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!--  todo router link redirects on delete button , possibly move create to stickied footer and add batch delete on selected -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
