<mat-card>
  <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
    <mat-card-title>
      create water pump
    </mat-card-title>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput id="name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>code</mat-label>
      <input matInput id="code" formControlName="code">
    </mat-form-field>

    <mat-form-field>
      <mat-label> stay dry for [s]</mat-label>
      <input matInput type="number" id="stay_dry_for_s" formControlName="stay_dry_for_s">
    </mat-form-field>

    <mat-form-field>
      <mat-label> pin</mat-label>
      <input matInput type="number" id="gpio_pin_number" formControlName="gpio_pin_number">
      <span matPrefix>gpio #&nbsp;</span>
    </mat-form-field>

    <div style="display: flex;align-items: flex-start;flex-wrap: nowrap;height: 100%;">
      <mat-form-field style="width: 50%; margin-right: 5px">
        <mat-label> pin</mat-label>
        <input matInput type="number" id="sensor_pin" formControlName="sensor_pin">
        <span matPrefix>sensor #&nbsp;</span>
      </mat-form-field>

      <mat-form-field style="width: 50%; margin-left: 5px">
        <mat-label> pin</mat-label>
        <input matInput type="number" id="sensor_power_pin" formControlName="sensor_power_pin">
        <span matPrefix>sensor power #&nbsp;</span>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>active watering configuration</mat-label>
      <mat-select formControlName="active_watering_configuration">
        <mat-option [value]="null">--</mat-option>
        <mat-option *ngFor="let cfg of watering_configurations" [value]="cfg.id">
          {{cfg.code}} [<span *ngFor="let wt of cfg.watering_times">{{wt}},</span>]
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>description</mat-label>
      <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>

    <button mat-stroked-button type="submit" [disabled]="this.form.invalid">
      <div *ngIf="!pendingRequest">
        <div *ngIf="!instanceId">
          create
        </div>
        <div *ngIf="instanceId">
          update
        </div>
      </div>
      <div *ngIf="pendingRequest">
        <mat-spinner [diameter]=""></mat-spinner>
      </div>
    </button>
  </form>
</mat-card>
