mat-drawer-container {
  height: 100%;
  width: 100%;
}

mat-drawer {
  width: 200px;
  padding: 10px;
  text-align: center;
}

mat-drawer-content {
  padding-left: 20px;
}

mat-selection-list{
  outline: red;
}

.children-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.children-column {
  display: flex;
  flex-flow: column;
}

/*todo duplicated */
mat-form-field {
  width: 250px;
  margin-right: 20px;
}

.mat-form-field {
  width: 250px;
  margin-right: 20px;
}

.button-row button {
  margin: 0 20px 0 20px;
}

mat-spinner {
  height: 90%;
}
