<mat-card>
  <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
    <mat-card-title>
      create plant type
    </mat-card-title>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput id="name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>code</mat-label>
      <input matInput id="code" formControlName="code">
    </mat-form-field>
    <mat-form-field>
      <mat-label>watering configuration</mat-label>
      <mat-select formControlName="watering_configuration">
        <mat-option [value]="null">--</mat-option>
        <mat-option *ngFor="let cfg of watering_configurations" [value]="cfg.id">
          {{cfg.code}} [<span *ngFor="let wt of cfg.watering_times">{{wt}},</span>]
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>
    <button mat-stroked-button type="submit" [disabled]="this.form.invalid">
      <div *ngIf="!pendingRequest">
        <div *ngIf="!instanceId">
          create
        </div>
        <div *ngIf="instanceId">
          update
        </div>
      </div>
      <div *ngIf="pendingRequest">
        <mat-spinner [diameter]=""></mat-spinner>
      </div>
    </button>
  </form>
</mat-card>
