<!-- https://material.angular.io/components/table/overview -->
<!-- todo search bar -->
<!-- todo horizontal scrollbar -->
<!-- todo select and batch delete -->
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 10%"> id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef style="width: 15%"> code</th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width: 25%"> name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- stay_dry_for_s Column -->
  <ng-container matColumnDef="stay_dry_for_s">
    <th mat-header-cell *matHeaderCellDef style="width: 10%"> dry for [h]</th>
    <td mat-cell *matCellDef="let element"> {{element.stay_dry_for_s / 3600}} </td>
  </ng-container>

  <!-- pin Column -->
  <ng-container matColumnDef="gpio_pin_number">
    <th mat-header-cell *matHeaderCellDef style="width: 7%"> pump pin</th>
    <td mat-cell *matCellDef="let element"> {{element.gpio_pin_number}} </td>
  </ng-container>

  <!-- sensor_pin Column -->
  <ng-container matColumnDef="sensor_pin">
    <th mat-header-cell *matHeaderCellDef style="width: 7%"> sensor pin</th>
    <td mat-cell *matCellDef="let element"> {{element.sensor_pin}} </td>
  </ng-container>

  <!-- todo usage of pins image -->
  <!-- sensor_power_pin Column -->
  <ng-container matColumnDef="sensor_power_pin">
    <th mat-header-cell *matHeaderCellDef style="width: 6%"> sensor power pin</th>
    <td mat-cell *matCellDef="let element"> {{element.sensor_power_pin}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 20%">
      <button mat-stroked-button routerLink="/water-pump">create new</button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button [routerLink]="'/water-pump/'+element.id" style="margin-right: 5px;">edit</button>
      <button mat-stroked-button (click)="delete(element.id)">delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!--  todo router link redirects on delete button , possibly move create to stickied footer and add batch delete on selected -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- todo paginator -->
  <!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</table>
