<!-- https://material.angular.io/components/table/overview -->
<!-- todo search bar -->
<!-- todo horizontal scrollbar -->
<!-- todo select and batch delete -->
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 10%"> id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef style="width: 15%"> code</th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width: 15%"> name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef style="width: 35%"> description</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 20%">
      <button mat-stroked-button routerLink="/plant-type">create new</button>
    </th>

    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button [routerLink]="'/plant-type/'+element.id" style="margin-right: 5px">edit</button>
      <button mat-stroked-button (click)="delete(element.id)">delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
