.container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding: 20px;
  box-sizing: border-box;
}

mat-toolbar {
  display: flex;
  flex-flow: row;
}

#toolbarHeadline {
  flex-grow: 1;
}

mat-sidenav {
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.nav-button {
  width: 100%;
}

.mat-icon {
  padding-right: 10px;
}
