<div class="container">
  <mat-toolbar id="matToolbar" color="primary">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <div id="toolbarHeadline">Watering station</div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="this.openSidenav" #sidenav>
      <p>
        <button class="nav-button" mat-stroked-button routerLink="{{dashboardRoute.path}}">
          {{dashboardRoute.name}}
        </button>
      </p>
      <mat-divider></mat-divider>
      <p>
        <button class="nav-button" mat-stroked-button routerLink="{{controlPanelRoute.path}}">
          {{controlPanelRoute.name}}
        </button>
      </p>
      <mat-divider></mat-divider>
      <p>Statistics TODO</p>
      <mat-divider></mat-divider>
      <p>DM TODO</p>
      <p *ngFor="let route of dmRoutes">
        <button class="nav-button" mat-stroked-button routerLink="{{route.path}}">
          {{route.name}}
        </button>
      </p>
    </mat-sidenav>
    <!--  -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
